html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-image: -webkit-gradient(
        linear,
        80 bottom,
        left 60,
        color-stop(0, rgb(91,135,115)),
        color-stop(0.57, rgb(66,110,110)));
    font-family:'lato';
    animation:bgfade 7s;
    -webkit-animation: bgfade 7s; /* Safari and Chrome */
    font-family: 'Open Sans', sans-serif;
}

#gallery {
    display: inline-block
}

#selectionBar {
    display: inline-block
}

#sortBar {
    display: inline-block
}

/* .desc
{
    text-align: center;
    font-weight: normal;
    width: 100%;
    margin: 0px;
    visibility: hidden;
} */

/* div:hover .desc {
    visibility: visible;
} */
div.img img {
    max-width: 100%;
    object-fit: cover;
}

div.title {
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    padding-top: 3px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
}

input.checkbox {
    position: absolute;
    bottom: 0;
    left: 0;
}

div.title label {
    position: absolute;
    left: 20px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.img {
    margin: 20px 20px 0px 0px;
    padding: 5px;
    box-sizing: border-box;
    background: #f1f1f1;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-radius: 4px;
}

/* div:hover {
    line-height: 30px;
    font-size: 16px;
} */

div.img img
{
  display: inline-block;
  margin: 3px;
}

.livePhoto
{
    display: inline-block;
    background-color: yellow;
}

@keyframes bgfade
{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes bgfade /* Safari and Chrome */
{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
